Calculator_Client/web/WEB-INF/wsdl/localhost_8080/CalculatorService/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="Calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CalculatorService/Calculator?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="sub">
<part name="parameters" element="tns:sub" />
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse" />
</message>
<message name="mul">
<part name="parameters" element="tns:mul" />
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse" />
</message>
<message name="div">
<part name="parameters" element="tns:div" />
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse" />
</message>
<portType name="Calculator">
<operation name="add">
<input wsam:Action="http://services/Calculator/addRequest" message="tns:add" />
<output wsam:Action="http://services/Calculator/addResponse" message="tns:addResponse" />
</operation>
<operation name="sub">
<input wsam:Action="http://services/Calculator/subRequest" message="tns:sub" />
<output wsam:Action="http://services/Calculator/subResponse" message="tns:subResponse" />
</operation>
<operation name="mul">
<input wsam:Action="http://services/Calculator/mulRequest" message="tns:mul" />
<output wsam:Action="http://services/Calculator/mulResponse" message="tns:mulResponse" />
</operation>
<operation name="div">
<input wsam:Action="http://services/Calculator/divRequest" message="tns:div" />
<output wsam:Action="http://services/Calculator/divResponse" message="tns:divResponse" />
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sub">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mul">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="div">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Calculator">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/CalculatorService/Calculator" />
</port>
</service>
</definitions>