Calculator_Client/web/WEB-INF/wsdl/localhost_8080/CalculatorService/Calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="add" type="tns:add" />

<xs:element name="addResponse" type="tns:addResponse" />

<xs:element name="div" type="tns:div" />

<xs:element name="divResponse" type="tns:divResponse" />

<xs:element name="mul" type="tns:mul" />

<xs:element name="mulResponse" type="tns:mulResponse" />

<xs:element name="sub" type="tns:sub" />

<xs:element name="subResponse" type="tns:subResponse" />

<xs:complexType name="mul">
<xs:sequence>
<xs:element name="no1" type="xs:int" minOccurs="0" />
<xs:element name="no2" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mulResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="no1" type="xs:int" minOccurs="0" />
<xs:element name="no2" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="div">
<xs:sequence>
<xs:element name="no1" type="xs:int" minOccurs="0" />
<xs:element name="no2" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sub">
<xs:sequence>
<xs:element name="no1" type="xs:int" minOccurs="0" />
<xs:element name="no2" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>